@model IEnumerable<LabManager.Models.LabThing>


@{
    ViewData["Title"] = "Index";
}

<h1>LabThing</h1>

<p>
    <a asp-action="Create">Create New LabThing</a>
</p>
@************************************************************************************************@
@*Search box and filter for Chemical Index() *@

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Inventory List</a>
        </p>
    </div>
</form>
@************************************************************************************************@

<table class="table">
    <thead>
        <tr>

            @*This using statement is connected to the LabThing Filters:*@

            @*What ActionLink Does:*@
            @*@Html.ActionLink("link text", "someaction", "somecontroller", new { id = "123" }, null)*@

            @*What URL Action Does:*@
            @*Url.Action("someaction", "somecontroller", new { id = "123" })*@

            @using (Html.BeginForm("Index", "LabThing", FormMethod.Get))
            {
                @*This creates a link on a LabThing "Name"  *@
            <th>
                @Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.Name_Desc })

                @*When the "Name" link is clicked, the items are sorted in descending order (as opposed to the default ascending order) and the URL changes from https://localhost:5001/LabThings to: https://localhost:5001/LabThings?SortOrder=Name_desc*@
            </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.SerialNo)*@
                    @Html.ActionLink("Serial No", "Index", new { SortOrder = ViewBag.SerialNo_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ModelNo)*@
                    @Html.ActionLink("ModelNo", "Index", new { SortOrder = ViewBag.ModelNo_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AcquisitionDate)*@

                    @Html.ActionLink("AcquisitionDate", "Index", new { SortOrder = ViewBag.AcquisitionDate_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CalibratedOn)*@
                    @Html.ActionLink("CalibratedOn", "Index", new { SortOrder = ViewBag.CalibratedOn_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CalibrationDue)*@
                    @Html.ActionLink("CalibrationDue", "Index", new { SortOrder = ViewBag.CalibrationDue_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.MaintenanceOn)*@
                    @Html.ActionLink("MaintenanceOn", "Index", new { SortOrder = ViewBag.MaintenanceOn_Desc })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.MaintenanceDue)*@
                    @Html.ActionLink("MaintenanceDue", "Index", new { SortOrder = ViewBag.MaintenanceDue_Desc })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>

                <th>
                    @*@Html.DisplayNameFor(model => model.Employee)*@
                    @Html.ActionLink("Employee", "Index", new {sortOrder = ViewBag.Employee_Desc })
                </th>

                    @*What ActionLink Does:*@
                    @*@Html.ActionLink("link text", "someaction", "somecontroller", new { id = "123" }, null)*@

                    @*What URL Action Does:*@
                    @*Url.Action("someaction", "somecontroller", new { id = "123" })*@

                    @*@Html.DisplayNameFor(model => model.Employee)*@
                    @******************************************************************@
                    @*@Html.ActionLink("FirstName", "Index", "Employee", new { SortOrder = ViewBag.Employee_Desc })*@

                    @*The corresponding ViewData code from the controller for this ActionLink is this: ViewData["Employee_Desc"] = String.IsNullOrEmpty(sortOrder) ? "Employee_desc" : ""; *@


                    @*Using ActionLink with the Employee controller changes the URL to the following but also produces an error: https://localhost:5001/Employee?SortOrder=Employee_desc*@
                    @******************************************************************@



                    @******************************************************************@



                    @*<div>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["Employee_Desc"]">
            <img src="~/images/baseline_arrow_drop_up_black_18dp.png" alt="SortAscendingIcon" />
        </a>*@


                    @*<a asp-action="Index" asp-route-sortOrder="@ViewData["EmployeeSortDescParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">*@
                    @*<img src="~/images/baseline_arrow_drop_down_black_18dp.png" alt="SortAscendingIcon" />*@
                    @*</a>*@
            }

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalibratedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalibrationDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">
                    <img src="~/images/baseline_edit_black_sm.png" alt="EditIcon"/></a> |
                <a asp-action="Details" asp-route-id="@item.ID">
                    <img src="~/images/baseline_info_black_sm.png" alt="DetailsIcon"/>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.ID">
                    <img src="~/images/baseline_delete_black_sm.png" alt="TrashIcon"/>
                    </a>
            </td>
        </tr>
        }
    </tbody>
</table>
@************************************************************************************************@

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
    </a>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
    </a>
